<!--BANNERS-->
<div class="section section_banners scrollreveal scrollAnimateFade">
   <div class="container">
      <div class="row">
         <div class="col-lg-3 col-sm-6">
            {{> banner--inline image="01" }}
         </div>
         <div class="col-lg-3 col-sm-6">
            {{> banner--inline image="02" }}
         </div>
         <div class="col-lg-3 col-sm-6">
            {{> banner--inline image="03" }}
         </div>
         <div class="col-lg-3 col-sm-6">
            {{> banner--inline image="04" }}
         </div>
      </div>
   </div>
</div>
<!--/BANNERS-->