<section class="comments">
   <div class="comments__inner">
      <h3 class="comments__counter">2 Comments</h3>
      <div class="comments__list">
         <div class="comment__wrap">
            <div class="comment">
               <div class="comment__header">
                  Mr. Anonymous, 4 hours ago
                  <div class="comment__rating">
                     <button class="comment__rating-down btn"></button>
                     <div class="comment__rating-counter btn">3</div>
                     <button class="comment__rating-up btn"></button>
                  </div>
               </div>
               <div class="comment__body">
                  <p>
                     Warlugulong (1977) is an acrylic painting by Indigenous Australian artist
                     Clifford Possum Tjapaltjarri. In 2007 it was purchased by the National Gallery of
                     Australia for A$2.4 million, a record auction price for a contemporary Indigenous
                     art work. The painting illustrates eight dreamings of traditional locations the
                     artist had knowledge of, and depicts the story of an ancestral creature called
                     Lungkata or the Blue-Tongue Lizard Man, who created bushfire.
                  </p>
               </div>
               <a href="#" class="comment__reply">Reply</a>
            </div>
            <div class="comment comment--reply">
               <div class="comment__header">
                  Mr. Anonymous, 4 hours ago
                  <div class="comment__rating">
                     <button class="comment__rating-down btn"></button>
                     <div class="comment__rating-counter btn">6</div>
                     <button class="comment__rating-up btn"></button>
                  </div>
               </div>
               <div class="comment__body">
                  <p>
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab corporis culpa
                     deserunt dolor doloremque eos iste, magni, maxime natus neque odio praesentium
                     ratione rem similique temporibus unde vel. Molestias, nulla.
                  </p>
               </div>
               <a href="#" class="comment__reply">Reply</a>
            </div>
         </div>
      </div>
      <form action="#" class="comments-form form">
         <label class="form__label">
            <span class="form__label-text">Comment</span>
            <span class="form__group">
               <textarea name="commentMess" class="form__field" placeholder="Type few words here…"></textarea>
            </span>
         </label>
         <div class="row">
            <div class="col-lg-4">
               <div class="comments-form__anon">
                  <label class="form__label">
                     <span class="form__label-text">Name</span>
                     <span class="form__group">
                        <input type="text" name="name" class="form__field" placeholder="Mr. Anonymous">
                     </span>
                  </label>
                  <script src='https://www.google.com/recaptcha/api.js'></script>
                  <div class="g-recaptcha" data-sitekey="6LcMJxUUAAAAAN2ZxT07859mLtgss6vIi2LMaIFO"></div>
                  <div class="comment__submit">
                     <button type="submit" class="btn btn--red" disabled>Submit comment</button>
                  </div>
               </div>
            </div>
         </div>
      </form>
   </div>
</section>