<!--FOOTER SMALL-->
<footer class="footer page__footer scrollreveal scrollAnimateFade">
   <div class="footer__inner">
      <div class="footer__bottom">
         <div class="container">
            <div class="row">
               <div class="col-sm-6">
                  <small class="copyright">
                     © Сute Tube &nbsp;—&nbsp; Modern Video Theme &nbsp;|&nbsp; 2017
                  </small>
               </div>
               <div class="col-sm-6">
                  <div class="created-by">
                     <span>Created by</span>
                     <a href="https://themeforest.net/user/divothemes" target="_blank">
                        <img src="images/divo_theme_logo.svg" alt="">
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</footer>
<!--/FOOTER SMALL-->
