<!--FOOTER-->
<footer class="footer page__footer footer scrollreveal scrollAnimateFade">
   <div class="footer__inner">

      <div class="footer__top">
         <div class="container">
            <div class="row">

               <div class="column">
                  <div class="footer__top-heading">
                     Information
                  </div>
                  <ul class="footer__top-list">
                     <li>
                        <a href="./info.html" class="js-ajax-link">Terms of Use</a>
                     </li>
                     <li>
                        <a href="./info.html" class="js-ajax-link">Privacy</a>
                     </li>
                     <li>
                        <a href="./info.html" class="js-ajax-link">DMCA</a>
                     </li>
                  </ul>
               </div>

               <div class="column">
                  <div class="footer__top-heading">
                     Support
                  </div>
                  <ul class="footer__top-list">
                     <li>
                        <a href="./info.html" class="js-ajax-link">FAQ</a>
                     </li>
                     <li>
                        <a href="./info.html" class="js-ajax-link">Support</a>
                     </li>
                     <li>
                        <a href="./info.html" class="js-ajax-link">Billing</a>
                     </li>
                  </ul>
               </div>

               <div class="column">
                  <div class="footer__top-heading">
                     About Us
                  </div>
                  <ul class="footer__top-list">
                     <li>
                        <a href="./info.html" class="js-ajax-link">Contact Us</a>
                     </li>
                     <li>
                        <a href="./info.html" class="js-ajax-link">Feedback</a>
                     </li>
                     <li>
                        <a href="./info.html" class="js-ajax-link">Blog</a>
                     </li>
                  </ul>
               </div>

               <div class="column">
                  <div class="footer__top-heading">
                     Work with us
                  </div>
                  <ul class="footer__top-list">
                     <li>
                        <a href="./info.html" class="js-ajax-link">Content program</a>
                     </li>
                     <li>
                        <a href="./info.html" class="js-ajax-link">Webmasters</a>
                     </li>
                     <li>
                        <a href="./info.html" class="js-ajax-link">Advertisers</a>
                     </li>
                  </ul>
               </div>

               <div class="column footer__top-age-limit">
                  <img src="./images/18plus.svg" alt="18 plus">
                  <p>Convinced that his entire reality is constrained by the tape, he makes a major change to it, with a
                     major effect on his reality.
                  </p>
               </div>

            </div>
         </div>
      </div>

      <div class="footer__social">
         <div class="container">
            <div class="row">

               <div class="column">
                  <a href="#" class="footer__social-item">
                     <img src="./images/reddit_logo.svg" alt="reddit">
                     <div class="footer__social-info">
                        <div class="footer__social-subscribers">
                           12 622
                        </div>
                        <div class="footer__social-username">
                           @cutetube
                        </div>
                     </div>
                  </a>
               </div>

               <div class="column">
                  <a href="#" class="footer__social-item">
                     <img src="./images/tumblr_logo.svg" alt="tumblr">
                     <div class="footer__social-info">
                        <div class="footer__social-subscribers">
                           27 332
                        </div>
                        <div class="footer__social-username">
                           @cutetube
                        </div>
                     </div>
                  </a>
               </div>

               <div class="column">
                  <a href="#" class="footer__social-item">
                     <img src="./images/googleplus_logo.svg" alt="googleplus">
                     <div class="footer__social-info">
                        <div class="footer__social-subscribers">
                           31 478
                        </div>
                        <div class="footer__social-username">
                           @cutetube
                        </div>
                     </div>
                  </a>
               </div>

               <div class="column">
                  <a href="#" class="footer__social-item">
                     <img src="./images/twitter_logo.svg" alt="twitter">
                     <div class="footer__social-info">
                        <div class="footer__social-subscribers">
                           14 983
                        </div>
                        <div class="footer__social-username">
                           @cutetube
                        </div>
                     </div>
                  </a>
               </div>

               <div class="column">
                  <a href="#" class="footer__social-item">
                     <img src="./images/blogger_logo.svg" alt="blogger">
                     <div class="footer__social-info">
                        <div class="footer__social-subscribers">
                           94 029
                        </div>
                        <div class="footer__social-username">
                           @cutetube
                        </div>
                     </div>
                  </a>
               </div>

               <div class="column">
                  <a href="#" class="footer__social-item">
                     <img src="./images/rss_logo.svg" alt="rss">
                     <div class="footer__social-info">
                        <div class="footer__social-subscribers">
                           22 698
                        </div>
                        <div class="footer__social-username">
                           @cutetube
                        </div>
                     </div>
                  </a>
               </div>

            </div>
         </div>
      </div>

      <div class="footer__bottom">
         <div class="container">
            <div class="row">

               <div class="column">
                  <span class="footer__bottom-copyright">
                     © Сute Tube &nbsp;—&nbsp; Modern Video Theme &nbsp;|&nbsp; 2017
                  </span>
               </div>

               <div class="column footer__bottom-created-by">
                  <span>Created by</span>
                  <a href="https://themeforest.net/user/divothemes" target="_blank">
                     <img src="images/divo_theme_logo.svg" alt="">
                  </a>
               </div>

            </div>
         </div>
      </div>

   </div>
</footer>
<!--/FOOTER-->
