<!--info-block-->
<div class="section info-block scrollreveal scrollAnimateFade">
   <div class="container">
      <h3>The Electric Ant is a science fiction short story by Philip K.</h3>
      <div class="row">
         <div class="col-lg-4 col-sm-6">
            <div class="info-block__col">
               <p>
                  Garson Poole wakes up after a flying-car-crash to find that he is missing a hand. He then finds out that he is an 'electric ant' – an "organic" robot. He further finds out that what he believes is his subjective reality is being fed to him from a micro-punched tape in his chest cavity. He experiments on this tape by adding new holes, which adds things to his reality.
               </p>
            </div>
         </div>
         <div class="col-lg-4 col-sm-6">
            <div class="info-block__col">
               <p>
                  Convinced that his entire reality is constrained by the tape, he makes a major change to it, with a major effect on his reality. The change affects everyone else he interacts with, which raises the question of whether any of them – or he himself – are "real" at all.
               </p>
            </div>
         </div>
         <div class="col-lg-4 hidden-md hidden-sm hidden-xs">
            <div class="info-block__col">
               <p>
                  Convinced that his entire reality is constrained by the tape, he makes a major change to it, with a major effect on his reality. The change affects everyone else he interacts with, which raises the question of whether any of them – or he himself – are "real" at all.
               </p>
            </div>
         </div>
      </div>
      <div class="seo-spoiler">
         <div class="seo-spoiler__wrap">
            <div class="seo-spoiler__text">
               <p>
                  Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside, the sable cloud beneath was dished out, and the car seemed to float in the middle of an immense dark sphere, whose upper half was strewn with silver. Looking down into the dark gulf below, I could see a ruddy light streaming through a rift in the clouds.
               </p>
               <p>
                  Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside, the sable cloud beneath was dished out, and the car seemed to float in the middle of an immense dark sphere, whose upper half was strewn with silver. Looking down into the dark gulf below, I could see a ruddy light streaming through a rift in the clouds.
               </p>
            </div>
         </div>
         <div class="seo-spoiler__link-center">
            <a href="#" class="seo-spoiler__link">Show more</a>
         </div>
      </div>
   </div>
</div>