<!--pagination-->
<div class="page-controls ">
   <a href="" class="show-more">Show more</a>
   <div class="pagination">
      <ul class="pagination__pages">
         <li>
            <button class="pagination__prev" disabled></button>
         </li>
         <li class="is-active"><a href="#">1</a>
         </li>
         <li><a href="#">2</a>
         </li>
         <li><a href="#">3</a>
         </li>
         <li><a href="#">4</a>
         </li>
         <li><a href="#">5</a>
         </li>
         <li><a href="#">6</a>
         </li>
         <li><a href="#">7</a>
         </li>
         <li><a href="#">8</a>
         </li>
         <li><a href="#">9</a>
         </li>
         <li><span>...</span>
         </li>
         <li><a href="#">336</a>
         </li>
         <li>
            <button class="pagination__next"></button>
         </li>
      </ul>
   </div>
</div>