<div class="hero-slider-wrap scrollreveal scrollAnimateHeroSlider">
   <div class="hero-slider">
      <div class="sld">
         <div class="hero-slider__slide">
            <div class="hero-slider__slide-image">
               <span class="hero-slider__lazy-load-img" data-original="images/slide_01.jpg"></span>
            </div>
            <div class="container">
               <div class="row row--flex">
                  <div class="col-xxl-6 col-xl-5 col-xxl-push-6 col-xl-push-7 visible-xxl visible-xl">
                     <div class="hero-slider__slide-right">
                        <div class="hero-slider__banners">
                           <a href="#" class="hero-slider__banner">
                              <div class="lazy-img">
                                 <img data-original="images/banner_01.jpg" class="img-responsive" src="#"  alt="banner image" >
                              </div>
                           </a> <a href="#" class="hero-slider__banner">
                           <div class="lazy-img">
                              <img data-original="images/banner_02.jpg" class="img-responsive" src="#"  alt="banner image" >
                           </div>
                        </a>
                        </div>
                     </div>
                  </div>
                  <div class="col-xxl-6 col-xl-7 col-xxl-pull-6 col-xl-pull-5">
                     <div class="hero-slider__slide-left">
                        <div class="hero-slider__slide-text">
                           <div class="hero-slider__slide-date">
                              23 <span>FEB 2017</span>
                           </div>
                           <a href="./video.html" class="hero-slider__slide-name js-ajax-link">
                              <h2>
                                 I&nbsp;remember too much, that&rsquo;s why I&rsquo;m damn sad sometimes
                              </h2>
                           </a>
                           <div class="hero-slider__button">
                              <a href="./video.html" class="btn btn--play js-ajax-link"> Watch now </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="sld">
         <div class="hero-slider__slide">
            <div class="hero-slider__slide-image">
               <span class="hero-slider__lazy-load-img" data-original="images/slide_02.jpg"></span>
            </div>
            <div class="container">
               <div class="row row--flex">
                  <div class="col-xxl-6 col-xl-5 col-xxl-push-6 col-xl-push-7 visible-xxl visible-xl">
                     <div class="hero-slider__slide-right">
                        <div class="hero-slider__banners">
                           <a href="#" class="hero-slider__banner">
                              <div class="lazy-img">
                                 <img data-original="images/banner_01.jpg" class="img-responsive" src="#"  alt="banner image" >
                              </div>
                           </a> <a href="#" class="hero-slider__banner">
                           <div class="lazy-img">
                              <img data-original="images/banner_02.jpg" class="img-responsive" src="#"  alt="banner image" >
                           </div>
                        </a>
                        </div>
                     </div>
                  </div>
                  <div class="col-xxl-6 col-xl-7 col-xxl-pull-6 col-xl-pull-5">
                     <div class="hero-slider__slide-left">
                        <div class="hero-slider__slide-text">
                           <div class="hero-slider__slide-date">
                              21 <span>FEB 2017</span>
                           </div>
                           <a href="./video.html" class="hero-slider__slide-name js-ajax-link">
                              <h2>
                                 Don&rsquo;t break up&nbsp;with your past until you&rsquo;re sure in&nbsp;your future
                              </h2>
                           </a>
                           <div class="hero-slider__button">
                              <a href="./video.html" class="btn btn--play js-ajax-link"> Watch now </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="sld">
         <div class="hero-slider__slide">
            <div class="hero-slider__slide-image">
               <span class="hero-slider__lazy-load-img" data-original="images/slide_03.jpg"></span>
            </div>
            <div class="container">
               <div class="row row--flex">
                  <div class="col-xxl-6 col-xl-5 col-xxl-push-6 col-xl-push-7 visible-xxl visible-xl">
                     <div class="hero-slider__slide-right">
                        <div class="hero-slider__banners">
                           <a href="#" class="hero-slider__banner">
                              <div class="lazy-img">
                                 <img data-original="images/banner_01.jpg" class="img-responsive" src="#"  alt="banner image" >
                              </div>
                           </a> <a href="#" class="hero-slider__banner">
                           <div class="lazy-img">
                              <img data-original="images/banner_02.jpg" class="img-responsive" src="#"  alt="banner image" >
                           </div>
                        </a>
                        </div>
                     </div>
                  </div>
                  <div class="col-xxl-6 col-xl-7 col-xxl-pull-6 col-xl-pull-5">
                     <div class="hero-slider__slide-left">
                        <div class="hero-slider__slide-text">
                           <div class="hero-slider__slide-date">
                              20 <span>FEB 2017</span>
                           </div>
                           <a href="./video.html" class="hero-slider__slide-name js-ajax-link">
                              <h2>
                                 He, who makes a&nbsp;beast of&nbsp;himself, gets rid of&nbsp;the pain of&nbsp;being a&nbsp;man
                              </h2>
                           </a>
                           <div class="hero-slider__button">
                              <a href="./video.html" class="btn btn--play js-ajax-link"> Watch now </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="sld">
         <div class="hero-slider__slide">
            <div class="hero-slider__slide-image">
               <span class="hero-slider__lazy-load-img" data-original="images/slide_04.jpg"></span>
            </div>
            <div class="container">
               <div class="row row--flex">
                  <div class="col-xxl-6 col-xl-5 col-xxl-push-6 col-xl-push-7 visible-xxl visible-xl">
                     <div class="hero-slider__slide-right">
                        <div class="hero-slider__banners">
                           <a href="#" class="hero-slider__banner">
                              <div class="lazy-img">
                                 <img data-original="images/banner_01.jpg" class="img-responsive" src="#"  alt="banner image" >
                              </div>
                           </a> <a href="#" class="hero-slider__banner">
                           <div class="lazy-img">
                              <img data-original="images/banner_02.jpg" class="img-responsive" src="#"  alt="banner image" >
                           </div>
                        </a>
                        </div>
                     </div>
                  </div>
                  <div class="col-xxl-6 col-xl-7 col-xxl-pull-6 col-xl-pull-5">
                     <div class="hero-slider__slide-left">
                        <div class="hero-slider__slide-text">
                           <div class="hero-slider__slide-date">
                              26 <span>FEB 2017</span>
                           </div>
                           <a href="./video.html" class="hero-slider__slide-name js-ajax-link">
                              <h2>
                                 A&nbsp;man is&nbsp;always afraid of&nbsp;the unknown, because what is&nbsp;known is&nbsp;less scary
                              </h2>
                           </a>
                           <div class="hero-slider__button">
                              <a href="./video.html" class="btn btn--play js-ajax-link"> Watch now </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="sld">
         <div class="hero-slider__slide">
            <div class="hero-slider__slide-image">
               <span class="hero-slider__lazy-load-img" data-original="images/slide_05.jpg"></span>
            </div>
            <div class="container">
               <div class="row row--flex">
                  <div class="col-xxl-6 col-xl-5 col-xxl-push-6 col-xl-push-7 visible-xxl visible-xl">
                     <div class="hero-slider__slide-right">
                        <div class="hero-slider__banners">
                           <a href="#" class="hero-slider__banner">
                              <div class="lazy-img">
                                 <img data-original="images/banner_01.jpg" class="img-responsive" src="#"  alt="banner image" >
                              </div>
                           </a> <a href="#" class="hero-slider__banner">
                           <div class="lazy-img">
                              <img data-original="images/banner_02.jpg" class="img-responsive" src="#"  alt="banner image" >
                           </div>
                        </a>
                        </div>
                     </div>
                  </div>
                  <div class="col-xxl-6 col-xl-7 col-xxl-pull-6 col-xl-pull-5">
                     <div class="hero-slider__slide-left">
                        <div class="hero-slider__slide-text">
                           <div class="hero-slider__slide-date">
                              27 <span>FEB 2017</span>
                           </div>
                           <a href="#" class="hero-slider__slide-name">
                              <h2>
                                 There is&nbsp;nothing scary in&nbsp;the darkness, if&nbsp;you encounter it&nbsp;face-to-face
                              </h2>
                           </a>
                           <div class="hero-slider__button">
                              <a href="./video.html" class="btn btn--play js-ajax-link"> Watch now </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="container">
      <div class="hero-slider-dots">
         <div class="hero-slider-nums"></div>
      </div>
   </div>
</div>