{{#extend "main"}}
   {{#content "body"}}
      <!--COMMENTS DEFAULT-->
      <div class="inner scrollreveal scrollAnimateFade">
         <div class="components">
            <div class="component">
               <div class="container">
                  <div class="page__title">
                     <h3>Comments default</h3>
                     <p>
                        Comments with entering an e-mail
                     </p>
                  </div>

                  {{> comments--default }}

               </div>
            </div>
         </div>
      </div>
   {{/content}}
   <!--/COMMENTS DEFAULT-->
{{/extend}}
