{{#extend "main"}}
   {{#content "body"}}
      <!--SLIDERS-->
      <div class="inner scrollreveal scrollAnimateFade">
         <div class="components">
            <div class="component">
               <div class="container">
                  <div class="page__title">
                     <h3>Slider №1</h3>
                     <p>Simple slider with text</p>
                  </div>
               </div>
               {{> slider_1 }}
            </div>
            <div class="component">
               <div class="container">
                  <div class="page__title">
                     <h3>Slider №2</h3>
                     <p>Slider with text and button</p>
                  </div>
               </div>
               {{> slider_2 }}
            </div>
            <div class="component">
               <div class="container">
                  <div class="page__title">
                     <h3>Slider №3</h3>
                     <p>Slider with text and banners</p>
                  </div>
               </div>
               {{> slider_3 }}
            </div>
            <div class="component">
               <div class="container">
                  <div class="page__title">
                     <h3>Slider №4</h3>
                     <p>Slider with text, button and banners</p>
                  </div>
               </div>
               {{> slider_4 }}
            </div>
         </div>
      </div>
      <!--/SLIDERS-->
   {{/content}}
{{/extend}}
