{{#extend "main"}}
   {{#content "body"}}
      <!--SLIDER-->
      <div class="inner scrollreveal scrollAnimateFade">
         <div class="components">
            <div class="component">
               <div class="container">
                  <div class="page__title">
                     <h3>Slider №2</h3>
                     <p>Slider with text and button</p>
                  </div>
               </div>
               {{> slider_2 }}
            </div>
         </div>
      </div>
      <!--/SLIDER-->
   {{/content}}
{{/extend}}
