<a href="./category.html" class="category-preview js-ajax-link">
   <div class="category-preview__image">
      <span class="lazy-bg-img" data-original="images/photo_{{image}}.jpg"></span>
      <div class="category-preview__info">
         <div class="category-preview__count">
            10268
         </div>
      </div>
   </div>
   <div class="category-preview__name">
      {{name}}
   </div>
</a>