<div class="col-xxl-2 col-xl-3 col-lg-4 col-sm-6">
   <a href="./video.html" class="video-preview video-preview--sm js-ajax-link">
      <div class="video-preview__image">
         <span class="lazy-bg-img" data-original="images/photo_{{image}}.jpg"></span>
         <div class="video-preview__info">
            <div class="video-preview__duration">12:04</div>
            <div class="video-preview__likes">88%</div>
            <div class="video-preview__quality">HD</div>
         </div>
      </div>
      <h5 class="video-preview__descr">{{{title}}}</h5>
   </a>
</div>