{{#extend "main"}}
   {{#content "body"}}
      
      <!--ACTOR PROFILE-->
      <div class="inner">
         <div class="section actor-profile scrollreveal scrollAnimateFade">
            <div class="container">
               <div class="row">
                  <div class="col-xl-3 col-lg-4">
                     <div class="actor-profile__photo">
                        <span class="lazy-bg-img" data-original="images/actor_profile.jpg"></span>
                     </div>
                  </div>
                  <div class="col-xl-6 col-lg-8">
                     <div class="actor-profile__info">
                        <div class="actor-profile__stats">
                           <div class="actor-profile__stat">
                              <span>68</span>
                              RANK
                           </div>
                           <div class="actor-profile__stat">
                              <span>128</span>
                              VIDEOS
                           </div>
                           <div class="actor-profile__stat">
                              <span>2 414 240</span>
                              VIEWS
                           </div>
                        </div>
                        <h3>Landon Singleton</h3>
                        <p>
                           Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and
                           the stars had ceased to twinkle. By the same illusion which lifts the horizon of the sea to
                           the level of the spectator on a hillside, the sable cloud beneath was dished out, and the car
                           seemed to float in the middle of an immense dark sphere, whose upper half was strewn with
                           silver. Looking down into the dark gulf below, I could see a ruddy light streaming through a
                           rift in the clouds.
                        </p>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare consequat eros volutpat
                           elementum. Morbi non auctor nisl. In porttitor eu mauris eu finibus. Sed leo lorem, efficitur
                           sed pretium in, tincidunt ut orci. Nunc cursus magna augue, non faucibus ligula vestibulum
                           ut.
                        </p>
                        <div class="seo-spoiler">
                           <div class="seo-spoiler__wrap">
                              <div class="seo-spoiler__text">
                                 <p>
                                    There are many variations of passages of Lorem Ipsum available, but the majority
                                    have suffered alteration in some form, by injected humour, or randomised words which
                                    don't look even slightly believable. If you are going to use a passage of Lorem
                                    Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of
                                    text.
                                 </p>
                                 <p>
                                    All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as
                                    necessary, making this the first true generator on the Internet. It uses a
                                    dictionary of over 200 Latin words, combined with a handful of model sentence
                                    structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem
                                    Ipsum is therefore always free from repetition, injected humour, or
                                    non-characteristic words etc.
                                 </p>
                              </div>
                           </div>
                           <div class="seo-spoiler__link-center">
                              <a href="#" class="seo-spoiler__link">Show more</a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-3 visible-xxl visible-xl">
                     {{> banner--inline image="01" }}
                  </div>
               </div>
            </div>
         </div>
         <div class="section section--last scrollreveal scrollAnimateFade">
            <div class="container">
               <div class="section__inner">
                  <div class="section-heading">
                     <h4>Landon Singleton videos</h4>
                  </div>
                  <div class="row row--flex">
                     {{> video_preview_6col title=titles.title.[1] image="01" }}
                     {{> video_preview_6col title=titles.title.[2] image="02" }}
                     {{> video_preview_6col title=titles.title.[3] image="03" }}
                     {{> video_preview_6col title=titles.title.[4] image="04" }}
                     {{> video_preview_6col title=titles.title.[5] image="05" }}
                     {{> video_preview_6col title=titles.title.[6] image="06" }}
                     {{> video_preview_6col title=titles.title.[7] image="07" }}
                     {{> video_preview_6col title=titles.title.[8] image="08" }}
                     {{> video_preview_6col title=titles.title.[9] image="09" }}
                     {{> video_preview_6col title=titles.title.[10] image="10" }}
                     {{> video_preview_6col title=titles.title.[11] image="11" }}
                     {{> video_preview_6col title=titles.title.[12] image="12" }}
                     {{> video_preview_6col title=titles.title.[13] image="13" }}
                     {{> video_preview_6col title=titles.title.[14] image="14" }}
                     {{> video_preview_6col title=titles.title.[15] image="15" }}
                     {{> video_preview_6col title=titles.title.[16] image="16" }}
                     {{> video_preview_6col title=titles.title.[17] image="17" }}
                     {{> video_preview_6col title=titles.title.[18] image="18" }}
                     {{> video_preview_6col title=titles.title.[19] image="19" }}
                     {{> video_preview_6col title=titles.title.[20] image="20" }}
                     {{> video_preview_6col title=titles.title.[21] image="21" }}
                     {{> video_preview_6col title=titles.title.[22] image="22" }}
                     {{> video_preview_6col title=titles.title.[23] image="23" }}
                     {{> video_preview_6col title=titles.title.[24] image="24" }}
                  </div>
                  {{> pagination }}
               </div>
            </div>
         </div>
         {{> banners }}
         {{> info }}
      </div>
      <!--/ACTOR PROFILE-->
   {{/content}}
{{/extend}}
