{{#extend "main"}}
   {{#content "body"}}
      <!--ACTORS-->
      <div class="inner">
         <div class="section popular scrollreveal scrollAnimateFade">
            <div class="container">
               <div class="section__inner">
                  <div class="section-heading">
                     <h4>Trending actors</h4>
                  </div>
                  <div class="row row--flex">
                     <div class="col-sm-3">
                        <a href="./actor-profile.html" class="category-preview category-preview--lg js-ajax-link">
                           <div class="category-preview__image">
                              <span class="lazy-bg-img" data-original="images/photo_26.jpg"></span>
                              <div class="category-preview__info">
                                 <div class="category-preview__count">
                                    Rank: 68
                                 </div>
                              </div>
                           </div>
                           <div class="category-preview__name">
                              Alejandro Blair
                           </div>
                        </a>
                     </div>
                     <div class="col-sm-3">
                        <a href="./actor-profile.html" class="category-preview category-preview--lg js-ajax-link">
                           <div class="category-preview__image">
                              <span class="lazy-bg-img" data-original="images/photo_27.jpg"></span>
                              <div class="category-preview__info">
                                 <div class="category-preview__count">
                                    Rank: 68
                                 </div>
                              </div>
                           </div>
                           <div class="category-preview__name">
                              Carolyn Beck
                           </div>
                        </a>
                     </div>
                     <div class="col-sm-3">
                        <a href="./actor-profile.html" class="category-preview category-preview--lg js-ajax-link">
                           <div class="category-preview__image">
                              <span class="lazy-bg-img" data-original="images/photo_28.jpg"></span>
                              <div class="category-preview__info">
                                 <div class="category-preview__count">
                                    Rank: 68
                                 </div>
                              </div>
                           </div>
                           <div class="category-preview__name">
                              Marguerite Dunn
                           </div>
                        </a>
                     </div>
                     <div class="col-sm-3">
                        <a href="./actor-profile.html" class="category-preview category-preview--lg js-ajax-link">
                           <div class="category-preview__image">
                              <span class="lazy-bg-img" data-original="images/photo_29.jpg"></span>
                              <div class="category-preview__info">
                                 <div class="category-preview__count">
                                    Rank: 68
                                 </div>
                              </div>
                           </div>
                           <div class="category-preview__name">
                              Daisy Newton
                           </div>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="section section--last categories scrollreveal scrollAnimateFade">
            <div class="container">
               <div class="section-heading">
                  <h4>Most popular</h4>
                  <div class="section-heading__control dropdown">
                     <a href="#" class="dropdown__toggle" data-toggle="dropdown">
                        Most popular
                        <span class="dropdown__arrow"></span>
                     </a>
                     <ul class="dropdown-menu">
                        <li>
                           <a href="./actor-profile.html" class="js-ajax-link">New</a>
                        </li>
                        <li>
                           <a href="./actor-profile.html" class="js-ajax-link">Trending</a>
                        </li>
                        <li class="is-active">
                           <a href="./actor-profile.html" class="js-ajax-link">Popular</a>
                        </li>
                        <li>
                           <a href="./actor-profile.html" class="js-ajax-link">Most liked</a>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="row row--flex">
                  <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                     <a href="./actor-profile.html" class="category-preview js-ajax-link">
                        <div class="category-preview__image">
                           <span class="lazy-bg-img" data-original="images/photo_30.jpg"></span>
                           <div class="category-preview__info">
                              <div class="category-preview__count">
                                 Rank: 68
                              </div>
                           </div>
                        </div>
                        <div class="category-preview__name">
                           Francis Myers
                        </div>
                     </a>
                  </div>
                  <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                     <a href="./actor-profile.html" class="category-preview js-ajax-link">
                        <div class="category-preview__image">
                           <span class="lazy-bg-img" data-original="images/photo_47.jpg"></span>
                           <div class="category-preview__info">
                              <div class="category-preview__count">
                                 Rank: 68
                              </div>
                           </div>
                        </div>
                        <div class="category-preview__name">
                           Ricky Fowler
                        </div>
                     </a>
                  </div>
                  <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                     <a href="./actor-profile.html" class="category-preview js-ajax-link">
                        <div class="category-preview__image">
                           <span class="lazy-bg-img" data-original="images/photo_48.jpg"></span>
                           <div class="category-preview__info">
                              <div class="category-preview__count">
                                 Rank: 68
                              </div>
                           </div>
                        </div>
                        <div class="category-preview__name">
                           Myrtie Love
                        </div>
                     </a>
                  </div>
                  <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                     <a href="./actor-profile.html" class="category-preview js-ajax-link">
                        <div class="category-preview__image">
                           <span class="lazy-bg-img" data-original="images/photo_31.jpg"></span>
                           <div class="category-preview__info">
                              <div class="category-preview__count">
                                 Rank: 68
                              </div>
                           </div>
                        </div>
                        <div class="category-preview__name">
                           Jeremiah Lloyd
                        </div>
                     </a>
                  </div>
                  <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                     <a href="./actor-profile.html" class="category-preview js-ajax-link">
                        <div class="category-preview__image">
                           <span class="lazy-bg-img" data-original="images/photo_32.jpg"></span>
                           <div class="category-preview__info">
                              <div class="category-preview__count">
                                 Rank: 68
                              </div>
                           </div>
                        </div>
                        <div class="category-preview__name">
                           Teresa Stevenson
                        </div>
                     </a>
                  </div>
                  <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                     <a href="./actor-profile.html" class="category-preview js-ajax-link">
                        <div class="category-preview__image">
                           <span class="lazy-bg-img" data-original="images/photo_33.jpg"></span>
                           <div class="category-preview__info">
                              <div class="category-preview__count">
                                 Rank: 68
                              </div>
                           </div>
                        </div>
                        <div class="category-preview__name">
                           Anthony Hunter
                        </div>
                     </a>
                  </div>
                  <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                     <a href="./actor-profile.html" class="category-preview js-ajax-link">
                        <div class="category-preview__image">
                           <span class="lazy-bg-img" data-original="images/photo_34.jpg"></span>
                           <div class="category-preview__info">
                              <div class="category-preview__count">
                                 Rank: 68
                              </div>
                           </div>
                        </div>
                        <div class="category-preview__name">
                           Josephine Matthews
                        </div>
                     </a>
                  </div>
                  <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                     <a href="./actor-profile.html" class="category-preview js-ajax-link">
                        <div class="category-preview__image">
                           <span class="lazy-bg-img" data-original="images/photo_35.jpg"></span>
                           <div class="category-preview__info">
                              <div class="category-preview__count">
                                 Rank: 68
                              </div>
                           </div>
                        </div>
                        <div class="category-preview__name">
                           Randy Murphy
                        </div>
                     </a>
                  </div>
                  <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                     <a href="./actor-profile.html" class="category-preview js-ajax-link">
                        <div class="category-preview__image">
                           <span class="lazy-bg-img" data-original="images/photo_36.jpg"></span>
                           <div class="category-preview__info">
                              <div class="category-preview__count">
                                 Rank: 68
                              </div>
                           </div>
                        </div>
                        <div class="category-preview__name">
                           Harry Rodriguez
                        </div>
                     </a>
                  </div>
                  <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                     <a href="./actor-profile.html" class="category-preview js-ajax-link">
                        <div class="category-preview__image">
                           <span class="lazy-bg-img" data-original="images/photo_37.jpg"></span>
                           <div class="category-preview__info">
                              <div class="category-preview__count">
                                 Rank: 68
                              </div>
                           </div>
                        </div>
                        <div class="category-preview__name">
                           Genevieve Walters
                        </div>
                     </a>
                  </div>
                  <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                     <a href="./actor-profile.html" class="category-preview js-ajax-link">
                        <div class="category-preview__image">
                           <span class="lazy-bg-img" data-original="images/photo_38.jpg"></span>
                           <div class="category-preview__info">
                              <div class="category-preview__count">
                                 Rank: 68
                              </div>
                           </div>
                        </div>
                        <div class="category-preview__name">
                           Alan Clark
                        </div>
                     </a>
                  </div>
                  <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                     <a href="./actor-profile.html" class="category-preview js-ajax-link">
                        <div class="category-preview__image">
                           <span class="lazy-bg-img" data-original="images/photo_39.jpg"></span>
                           <div class="category-preview__info">
                              <div class="category-preview__count">
                                 Rank: 68
                              </div>
                           </div>
                        </div>
                        <div class="category-preview__name">
                           Alfred Jennings
                        </div>
                     </a>
                  </div>
                  <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                     <a href="./actor-profile.html" class="category-preview js-ajax-link">
                        <div class="category-preview__image">
                           <span class="lazy-bg-img" data-original="images/photo_40.jpg"></span>
                           <div class="category-preview__info">
                              <div class="category-preview__count">
                                 Rank: 68
                              </div>
                           </div>
                        </div>
                        <div class="category-preview__name">
                           Ruth Patton
                        </div>
                     </a>
                  </div>
                  <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                     <a href="./actor-profile.html" class="category-preview js-ajax-link">
                        <div class="category-preview__image">
                           <span class="lazy-bg-img" data-original="images/photo_41.jpg"></span>
                           <div class="category-preview__info">
                              <div class="category-preview__count">
                                 Rank: 68
                              </div>
                           </div>
                        </div>
                        <div class="category-preview__name">
                           Louisa Gill
                        </div>
                     </a>
                  </div>
                  <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                     <a href="./actor-profile.html" class="category-preview js-ajax-link">
                        <div class="category-preview__image">
                           <span class="lazy-bg-img" data-original="images/photo_42.jpg"></span>
                           <div class="category-preview__info">
                              <div class="category-preview__count">
                                 Rank: 68
                              </div>
                           </div>
                        </div>
                        <div class="category-preview__name">
                           Jim Pope
                        </div>
                     </a>
                  </div>
                  <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                     <a href="./actor-profile.html" class="category-preview js-ajax-link">
                        <div class="category-preview__image">
                           <span class="lazy-bg-img" data-original="images/photo_43.jpg"></span>
                           <div class="category-preview__info">
                              <div class="category-preview__count">
                                 Rank: 68
                              </div>
                           </div>
                        </div>
                        <div class="category-preview__name">
                           Georgia Harrington
                        </div>
                     </a>
                  </div>
                  <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                     <a href="./actor-profile.html" class="category-preview js-ajax-link">
                        <div class="category-preview__image">
                           <span class="lazy-bg-img" data-original="images/photo_44.jpg"></span>
                           <div class="category-preview__info">
                              <div class="category-preview__count">
                                 Rank: 68
                              </div>
                           </div>
                        </div>
                        <div class="category-preview__name">
                           Lettie Edwards
                        </div>
                     </a>
                  </div>
                  <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                     <a href="./actor-profile.html" class="category-preview js-ajax-link">
                        <div class="category-preview__image">
                           <span class="lazy-bg-img" data-original="images/photo_45.jpg"></span>
                           <div class="category-preview__info">
                              <div class="category-preview__count">
                                 Rank: 68
                              </div>
                           </div>
                        </div>
                        <div class="category-preview__name">
                           Mae Haynes
                        </div>
                     </a>
                  </div>
                  <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                     <a href="./actor-profile.html" class="category-preview js-ajax-link">
                        <div class="category-preview__image">
                           <span class="lazy-bg-img" data-original="images/photo_46.jpg"></span>
                           <div class="category-preview__info">
                              <div class="category-preview__count">
                                 Rank: 68
                              </div>
                           </div>
                        </div>
                        <div class="category-preview__name">
                           Leah Butler
                        </div>
                     </a>
                  </div>
                  <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                     <a href="./actor-profile.html" class="category-preview js-ajax-link">
                        <div class="category-preview__image">
                           <span class="lazy-bg-img" data-original="images/photo_47.jpg"></span>
                           <div class="category-preview__info">
                              <div class="category-preview__count">
                                 Rank: 68
                              </div>
                           </div>
                        </div>
                        <div class="category-preview__name">
                           Louise Sullivan
                        </div>
                     </a>
                  </div>
                  <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                     <a href="./actor-profile.html" class="category-preview js-ajax-link">
                        <div class="category-preview__image">
                           <span class="lazy-bg-img" data-original="images/photo_48.jpg"></span>
                           <div class="category-preview__info">
                              <div class="category-preview__count">
                                 Rank: 68
                              </div>
                           </div>
                        </div>
                        <div class="category-preview__name">
                           Inez Bowman
                        </div>
                     </a>
                  </div>
                  <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                     <a href="./actor-profile.html" class="category-preview js-ajax-link">
                        <div class="category-preview__image">
                           <span class="lazy-bg-img" data-original="images/photo_49.jpg"></span>
                           <div class="category-preview__info">
                              <div class="category-preview__count">
                                 Rank: 68
                              </div>
                           </div>
                        </div>
                        <div class="category-preview__name">
                           Dale Torres
                        </div>
                     </a>
                  </div>
                  <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                     <a href="./actor-profile.html" class="category-preview js-ajax-link">
                        <div class="category-preview__image">
                           <span class="lazy-bg-img" data-original="images/photo_50.jpg"></span>
                           <div class="category-preview__info">
                              <div class="category-preview__count">
                                 Rank: 68
                              </div>
                           </div>
                        </div>
                        <div class="category-preview__name">
                           Mattie Rice
                        </div>
                     </a>
                  </div>
                  <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                     <a href="./actor-profile.html" class="category-preview js-ajax-link">
                        <div class="category-preview__image">
                           <span class="lazy-bg-img" data-original="images/photo_51.jpg"></span>
                           <div class="category-preview__info">
                              <div class="category-preview__count">
                                 Rank: 68
                              </div>
                           </div>
                        </div>
                        <div class="category-preview__name">
                           Viola Blair
                        </div>
                     </a>
                  </div>
               </div>
               {{> pagination }}
            </div>
         </div>
         {{> banners }}
      </div>
      <!--/ACTORS-->
   {{/content}}
{{/extend}}
