{{#extend "main"}}
   {{#content "body"}}
      <!--INDEX 3X6 COL-->
      <div class="inner inner--withslider">
         {{> slider_3 }}
         <div class="section section--last videos-section scrollreveal scrollAnimateFade">
            <div class="container">
               <div class="section__inner ">
                  <div class="section-heading">
                     <h4>Latest Videos</h4>
                     <a href="#" class="section-heading__control section-heading__see-all">
                        See all
                     </a>
                  </div>
                  <div class="row row--flex ">

                     {{> video_preview_2col title=titles.title.[34] image="01" }}
                     {{> video_preview_2col title=titles.title.[33] image="02" }}
                     {{> video_preview_2col title=titles.title.[32] image="03" }}
                     {{> video_preview_2col title=titles.title.[31] image="04" }}
                     {{> video_preview_2col title=titles.title.[30] image="05" }}
                     {{> video_preview_2col title=titles.title.[29] image="06" }}

                     {{> video_preview_2col title=titles.title.[28] image="07" }}
                     {{> video_preview_2col title=titles.title.[27] image="08" }}
                     {{> video_preview_2col title=titles.title.[26] image="09" }}
                     {{> video_preview_2col title=titles.title.[25] image="10" }}
                     {{> video_preview_2col title=titles.title.[24] image="11" }}
                     {{> video_preview_2col title=titles.title.[23] image="12" }}

                     {{> video_preview_2col title=titles.title.[22] image="13" }}
                     {{> video_preview_2col title=titles.title.[21] image="14" }}
                     {{> video_preview_2col title=titles.title.[20] image="15" }}
                     {{> video_preview_2col title=titles.title.[19] image="16" }}
                     {{> video_preview_2col title=titles.title.[18] image="17" }}
                     {{> video_preview_2col title=titles.title.[17] image="18" }}

                     {{> video_preview_2col title=titles.title.[16] image="19" }}
                     {{> video_preview_2col title=titles.title.[15] image="20" }}
                     {{> video_preview_2col title=titles.title.[14] image="21" }}
                     {{> video_preview_2col title=titles.title.[13] image="22" }}
                     {{> video_preview_2col title=titles.title.[12] image="23" }}
                     {{> video_preview_2col title=titles.title.[11] image="24" }}

                  </div>

                  {{> pagination }}
               </div>
            </div>
         </div>
         {{> banners }}
         {{> info }}
      </div>
      <!--/INDEX 3X6 COL-->
   {{/content}}
{{/extend}}
