{{#extend "main"}}
   {{#content "body"}}
      <!--INDEX 3 COL & RIGHT SIDEBAR-->
      <div class="inner">
         <div class="section section--last videos-section scrollreveal scrollAnimateFade">
            <div class="container">
               <div class="section__inner">
                  <div class="row">
                     <div class="col-lg-3 col-sm-4 col-lg-push-9 col-sm-push-8">
                        {{> aside_categories-list }}
                        <div class="hidden-xs">
                           {{> banner--inline image="03" }}
                           {{> banner--inline image="04" }}
                        </div>
                     </div>
                     <div class="col-lg-9 col-sm-8 col-lg-pull-3 col-sm-pull-4">
                        <div class="row three-columns row--flex">
                           {{> video_preview_3col title=titles.title.[1] image="01" }}
                           {{> video_preview_3col title=titles.title.[2] image="02" }}
                           {{> video_preview_3col title=titles.title.[3] image="03" }}
                           {{> video_preview_3col title=titles.title.[4] image="04" }}
                           {{> video_preview_3col title=titles.title.[5] image="05" }}
                           {{> video_preview_3col title=titles.title.[6] image="06" }}
                           {{> video_preview_3col title=titles.title.[7] image="07" }}
                           {{> video_preview_3col title=titles.title.[8] image="08" }}
                           {{> video_preview_3col title=titles.title.[9] image="09" }}
                           {{> video_preview_3col title=titles.title.[10] image="10" }}
                           {{> video_preview_3col title=titles.title.[11] image="11" }}
                           {{> video_preview_3col title=titles.title.[12] image="12" }}
                           {{> video_preview_3col title=titles.title.[13] image="13" }}
                           {{> video_preview_3col title=titles.title.[14] image="14" }}
                           {{> video_preview_3col title=titles.title.[15] image="15" }}
                           {{> video_preview_3col title=titles.title.[16] image="16" }}
                           {{> video_preview_3col title=titles.title.[17] image="17" }}
                           {{> video_preview_3col title=titles.title.[18] image="18" }}
                           {{> video_preview_3col title=titles.title.[19] image="19" }}
                           {{> video_preview_3col title=titles.title.[20] image="20" }}
                           {{> video_preview_3col title=titles.title.[21] image="21" }}
                           {{> video_preview_3col title=titles.title.[22] image="22" }}
                           {{> video_preview_3col title=titles.title.[23] image="23" }}
                           {{> video_preview_3col title=titles.title.[24] image="24" }}
                           {{> video_preview_3col title=titles.title.[25] image="25" }}
                           {{> video_preview_3col title=titles.title.[26] image="01" }}
                           {{> video_preview_3col title=titles.title.[27] image="02" }}
                           {{> video_preview_3col title=titles.title.[28] image="03" }}
                           {{> video_preview_3col title=titles.title.[29] image="04" }}
                           {{> video_preview_3col title=titles.title.[30] image="05" }}
                           {{> video_preview_3col title=titles.title.[31] image="06" }}
                           {{> video_preview_3col title=titles.title.[32] image="07" }}
                           {{> video_preview_3col title=titles.title.[33] image="08" }}
                           {{> video_preview_3col title=titles.title.[34] image="09" }}
                           {{> video_preview_3col title=titles.title.[35] image="10" }}
                           {{> video_preview_3col title=titles.title.[36] image="11" }}
                        </div>
                     </div>
                  </div>
                  {{> pagination }}
               </div>
            </div>
         </div>
         {{> banners }}
         {{> info }}
      </div>
      <!--/INDEX 3 COL & RIGHT SIDEBAR-->
   {{/content}}
{{/extend}}
