{{#extend "main"}}
   {{#content "body"}}
      <!--INDEX 3X6 COL-->
      <div class="inner">
         <div class="section videos-section scrollreveal scrollAnimateFade">
            <div class="container">
               <div class="section__inner">
                  <div class="section-heading">
                     <h4>Most viewed</h4>
                     <a href="#" class="section-heading__control section-heading__see-all">
                        See all
                     </a>
                  </div>
                  <div class="row row--flex">
                     {{> video_preview_3col title=titles.title.[1] image="01" }}
                     {{> video_preview_3col title=titles.title.[2] image="02" }}
                     {{> video_preview_3col title=titles.title.[3] image="03" }}
                     {{> video_preview_3col title=titles.title.[4] image="04" }}
                     {{> video_preview_3col title=titles.title.[5] image="05" }}
                     {{> video_preview_3col title=titles.title.[6] image="06" }}
                  </div>
               </div>
            </div>
         </div>
         <div class="section section--last videos-section scrollreveal scrollAnimateFade">
            <div class="container">
               <div class="section__inner">
                  <div class="section-heading">
                     <h4>New videos</h4>
                     <a href="#" class="section-heading__control section-heading__see-all">
                        See all
                     </a>
                  </div>
                  <div class="row row--flex">
                     {{> video_preview_6col title=titles.title.[7] image="07" }}
                     {{> video_preview_6col title=titles.title.[8] image="08" }}
                     {{> video_preview_6col title=titles.title.[9] image="09" }}
                     {{> video_preview_6col title=titles.title.[10] image="10" }}
                     {{> video_preview_6col title=titles.title.[12] image="12" }}
                     {{> video_preview_6col title=titles.title.[13] image="13" }}
                     {{> video_preview_6col title=titles.title.[14] image="14" }}
                     {{> video_preview_6col title=titles.title.[15] image="15" }}
                     {{> video_preview_6col title=titles.title.[16] image="16" }}
                     {{> video_preview_6col title=titles.title.[17] image="17" }}
                     {{> video_preview_6col title=titles.title.[18] image="18" }}
                     {{> video_preview_6col title=titles.title.[19] image="19" }}
                     {{> video_preview_6col title=titles.title.[20] image="20" }}
                     {{> video_preview_6col title=titles.title.[21] image="21" }}
                     {{> video_preview_6col title=titles.title.[22] image="22" }}
                     {{> video_preview_6col title=titles.title.[23] image="23" }}
                     {{> video_preview_6col title=titles.title.[24] image="24" }}
                     {{> video_preview_6col title=titles.title.[25] image="25" }}
                     {{> video_preview_6col title=titles.title.[26] image="01" }}
                     {{> video_preview_6col title=titles.title.[27] image="02" }}
                     {{> video_preview_6col title=titles.title.[28] image="03" }}
                     {{> video_preview_6col title=titles.title.[29] image="04" }}
                     {{> video_preview_6col title=titles.title.[30] image="05" }}
                     {{> video_preview_6col title=titles.title.[31] image="06" }}
                     {{> video_preview_6col title=titles.title.[32] image="07" }}
                     {{> video_preview_6col title=titles.title.[33] image="08" }}
                     {{> video_preview_6col title=titles.title.[34] image="09" }}
                     {{> video_preview_6col title=titles.title.[35] image="10" }}
                     {{> video_preview_6col title=titles.title.[36] image="11" }}
                     {{> video_preview_6col title=titles.title.[37] image="12" }}
                     {{> video_preview_6col title=titles.title.[38] image="13" }}
                     {{> video_preview_6col title=titles.title.[39] image="14" }}
                     {{> video_preview_6col title=titles.title.[40] image="15" }}
                     {{> video_preview_6col title=titles.title.[41] image="16" }}
                     {{> video_preview_6col title=titles.title.[42] image="17" }}
                     {{> video_preview_6col title=titles.title.[43] image="18" }}
                     {{> video_preview_6col title=titles.title.[44] image="19" }}
                     {{> video_preview_6col title=titles.title.[45] image="20" }}
                     {{> video_preview_6col title=titles.title.[46] image="21" }}
                     {{> video_preview_6col title=titles.title.[47] image="22" }}
                     {{> video_preview_6col title=titles.title.[48] image="23" }}
                     {{> video_preview_6col title=titles.title.[49] image="24" }}
                     {{> video_preview_6col title=titles.title.[50] image="25" }}
                     {{> video_preview_6col title=titles.title.[51] image="01" }}
                     {{> video_preview_6col title=titles.title.[52] image="02" }}
                     {{> video_preview_6col title=titles.title.[54] image="03" }}
                     {{> video_preview_6col title=titles.title.[54] image="04" }}
                     {{> video_preview_6col title=titles.title.[55] image="05" }}
                     {{> video_preview_6col title=titles.title.[56] image="06" }}
                     {{> video_preview_6col title=titles.title.[57] image="07" }}
                     {{> video_preview_6col title=titles.title.[58] image="08" }}
                     {{> video_preview_6col title=titles.title.[59] image="09" }}
                     {{> video_preview_6col title=titles.title.[60] image="10" }}
                     {{> video_preview_6col title=titles.title.[61] image="11" }}
                     {{> video_preview_6col title=titles.title.[62] image="12" }}
                     {{> video_preview_6col title=titles.title.[63] image="13" }}
                     {{> video_preview_6col title=titles.title.[64] image="14" }}
                     {{> video_preview_6col title=titles.title.[65] image="15" }}
                     {{> video_preview_6col title=titles.title.[1] image="16" }}
                     {{> video_preview_6col title=titles.title.[2] image="17" }}
                  </div>
                  {{> pagination }}
               </div>
            </div>
         </div>
         {{> banners }}
         {{> info }}
      </div>
      <!--/INDEX 3X6 COL-->
   {{/content}}
{{/extend}}
