{{#extend "main"}}
   {{#content "body"}}
      <!--INFO-->
      <div class="inner">
         <div class="info">
            <div class="container scrollreveal scrollAnimateFade">
               <div class="info__inner">
                  <div class="info__content">
                     <aside class="aside-left">
                        <div class="aside-left__inner">
                           <a href="#" class="btn aside-left__toggle">
                              Show menu
                           </a>
                           <div class="aside-left__collapse">
                              <div class="aside__group">
                                 <h5 class="aside__heading">Information</h5>
                                 <ul class="aside__menu">
                                    <li class="is-active">
                                       <a href="./info.html" class="js-ajax-link">Terms of Use</a>
                                    </li>
                                    <li>
                                       <a href="./info.html" class="js-ajax-link">Privacy</a>
                                    </li>
                                    <li>
                                       <a href="./info.html" class="js-ajax-link">DMCA</a>
                                    </li>
                                 </ul>
                              </div>
                              <div class="aside__group">
                                 <h5 class="aside__heading">Work with Us</h5>
                                 <ul class="aside__menu">
                                    <li>
                                       <a href="./info.html" class="js-ajax-link">Content program</a>
                                    </li>
                                    <li>
                                       <a href="./info.html" class="js-ajax-link">Webmasters</a>
                                    </li>
                                    <li>
                                       <a href="./info.html" class="js-ajax-link">Advertisers</a>
                                    </li>
                                 </ul>
                              </div>
                              <div class="aside__group">
                                 <h5 class="aside__heading">Support</h5>
                                 <ul class="aside__menu">
                                    <li>
                                       <a href="./info.html" class="js-ajax-link">FAQ</a>
                                    </li>
                                    <li>
                                       <a href="./info.html" class="js-ajax-link">Support</a>
                                    </li>
                                    <li>
                                       <a href="./info.html" class="js-ajax-link">Billing</a>
                                    </li>
                                 </ul>
                              </div>
                              <div class="aside__group">
                                 <h5 class="aside__heading">About Us</h5>
                                 <ul class="aside__menu">
                                    <li>
                                       <a href="./info.html" class="js-ajax-link">Contact Us</a>
                                    </li>
                                    <li>
                                       <a href="./info.html" class="js-ajax-link">Feedback</a>
                                    </li>
                                    <li>
                                       <a href="./info.html" class="js-ajax-link">Blog</a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </aside>
                     <div class="info__article">
                        <article class="article">
                           <div class="article__inner">
                              <h3>Recent trends and influences</h3>
                              <p class="article__modified-date">
                                 Last modified: May, 2016
                              </p>
                              <h4>
                                 When The Morning Dawns
                              </h4>
                              <p>
                                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at vestibulum nisl. Morbi
                                 consequat rhoncus rutrum. Ut et efficitur orci.
                                 <a href="#">Nunc laoreet varius</a>
                                 tempor. Sed dictum odio sed orci luctus, a eleifend magna pellentesque. Sed id vehicula
                                 nulla. Nullam massa arcu, sodales sit amet sapien in, fringilla bibendum eros. Integer
                                 tincidunt dolor ut massa finibus pulvinar. Nulla vitae tempus tellus. Curabitur ornare
                                 tincidunt arcu vel suscipit. Nunc varius commodo erat, sed porta nisl euismod
                                 fringilla. Sed euismod est tortor, sit amet aliquet dolor vestibulum ut.
                                 <a href="#">Etiam sit amet sem</a>
                                 ac purus ultrices vehicula. Mauris a ex sit amet libero dignissim aliquam in in orci.
                              </p>
                              <p>
                                 Sed eu leo eu nibh faucibus aliquam at sit amet velit. Pellentesque habitant morbi
                                 tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus non malesuada
                                 erat. Morbi non semper diam. Duis luctus nisl massa, vel blandit sapien ultrices quis.
                                 Suspendisse nisl odio, semper sit amet ex id, tempus placerat nisi. Maecenas nisl nunc,
                                 fringilla nec lorem sit amet, feugiat ornare erat. Donec dolor dolor, aliquet at
                                 finibus eget, gravida at libero.
                              </p>
                              <br>
                              <h4>
                                 Peace On Earth A Wonderful Wish But No Way
                              </h4>
                              <p>
                                 Nam consectetur tortor ut libero dictum, in vestibulum eros lacinia. Nam volutpat nisi
                                 in enim tristique finibus. Fusce varius nisl ac sapien luctus, a imperdiet magna
                                 efficitur. Curabitur et tortor ac risus ultrices efficitur eget in eros. Nam at mi ut
                                 quam eleifend bibendum volutpat in ipsum. Pellentesque gravida sagittis tortor vel
                                 tempor.
                                 <a href="#">Proin maximus</a>
                                 , ex quis molestie accumsan, odio turpis porta neque, id ullamcorper turpis ante sit
                                 amet lacus. Nam finibus, dui faucibus lobortis ullamcorper, diam quam euismod enim,
                                 vitae hendrerit ex quam et lectus. Nulla vestibulum laoreet ultricies.
                              </p>
                              <p>
                                 Donec laoreet pellentesque ante. Cum sociis natoque penatibus et magnis dis parturient
                                 montes, nascetur ridiculus mus. Etiam pretium tortor a nulla gravida, eu molestie enim
                                 pellentesque. Integer urna magna, accumsan et tortor eget, ultrices congue tellus.
                                 Aenean hendrerit sapien rutrum sem tempor efficitur. Curabitur consectetur purus urna,
                                 ac finibus dui condimentum quis.
                              </p>
                              <br>
                              <h4>
                                 Comment On The Importance Of Human Life
                              </h4>
                              <p>
                                 Quisque tincidunt venenatis eros ac iaculis. Vivamus porta porta maximus. Praesent
                                 vulputate egestas quam, a sollicitudin orci faucibus ac. Quisque sit amet ante
                                 condimentum, tincidunt velit eget, semper mi. Vestibulum vehicula pellentesque tortor.
                                 Fusce maximus leo vel ipsum semper, vel pharetra arcu tincidunt. Sed nec porta odio.
                                 Nullam quam neque, ornare ac blandit quis, tincidunt non turpis. Aliquam luctus augue a
                                 rhoncus sodales. Quisque vitae risus dolor. Sed semper felis massa, et ultrices sem
                                 condimentum sit amet. Sed laoreet magna ac metus lacinia tristique vitae eget ante.
                                 Aliquam interdum orci nec scelerisque rutrum.
                              </p>
                              <h4>
                                 Vampires The Romantic Ideology Behind Them
                              </h4>
                              <p>
                                 Nam quis sapien in sapien suscipit luctus sed vitae urna. Duis venenatis sem justo,
                                 bibendum dignissim eros ultrices vel. Suspendisse porta dolor at
                                 <a href="#">magna</a>
                                 aliquet, ut aliquet diam pellentesque. Sed interdum in ipsum vel rhoncus.
                              </p>
                              <p>
                                 Sed blandit, velit ac finibus ultrices, nisl quam ullamcorper metus, lacinia lacinia
                                 massa dui sagittis ligula. Sed elit mi, congue sit amet turpis lobortis, ultrices
                                 interdum mauris. Integer scelerisque, nisl vitae maximus ornare, magna nunc gravida
                                 mauris, et molestie ligula metus at justo. Nam lobortis nulla ut erat lacinia
                                 consequat. Cras at mauris vitae sapien rutrum tincidunt at sed augue.
                              </p>
                           </div>
                        </article>
                     </div>
                  </div>
                  <aside class="aside visible-xl visible-xxl">
                     {{> banner--inline image="01" }}
                     <div class="aside-item">
                        {{> aside_mostviewed }}
                     </div>
                  </aside>
               </div>
            </div>
         </div>
      </div>
      <!--/INFO-->
   {{/content}}
{{/extend}}
