{{#extend "main"}}
   {{#content "body"}}
      <!--SEARCH RESULTS-->
      <div class="inner">
         <div class="search-results">
            <div class="search-results__top scrollreveal scrollAnimateFade">
               <div class="container">
                  <form action="#" method="post" class="search search--visible">
                     <input type="text" name="search" class="search__field" placeholder="Search cutetube.com" autocomplete="off" value="Film">
                     <button class="search__button" type="submit"></button>
                     <div class="search__enter">
                        Enter
                     </div>
                  </form>
                  <div class="search-results__header">
                     <ul class="search-results__links">
                        <li>
                           <a href="#" class="is-active search-results__link">
                              <span>Videos</span>
                              <sup>78</sup>
                           </a>
                        </li>
                        <li>
                           <a href="#" class="search-results__link">
                              <span>Actors</span>
                              <sup>22</sup>
                           </a>
                        </li>
                        <li>
                           <a href="#" class="search-results__link search-results__link--no-results">
                              <span>Blog</span>
                              <sup>0</sup>
                           </a>
                        </li>
                     </ul>
                     <div class="search-results__count">
                        100 results found
                     </div>
                  </div>
               </div>
            </div>
            <div class="section section--last search-results__items scrollreveal scrollAnimateFade">
               <div class="container">
                  <div class="row row--flex">
                     {{> video_preview_6col title=titles.title.[1] image="01" }}
                     {{> video_preview_6col title=titles.title.[2] image="02" }}
                     {{> video_preview_6col title=titles.title.[3] image="03" }}
                     {{> video_preview_6col title=titles.title.[4] image="04" }}
                     {{> video_preview_6col title=titles.title.[5] image="05" }}
                     {{> video_preview_6col title=titles.title.[6] image="06" }}
                     {{> video_preview_6col title=titles.title.[7] image="07" }}
                     {{> video_preview_6col title=titles.title.[8] image="08" }}
                     {{> video_preview_6col title=titles.title.[9] image="09" }}
                     {{> video_preview_6col title=titles.title.[10] image="10" }}
                     {{> video_preview_6col title=titles.title.[11] image="11" }}
                     {{> video_preview_6col title=titles.title.[12] image="12" }}
                     {{> video_preview_6col title=titles.title.[13] image="13" }}
                     {{> video_preview_6col title=titles.title.[14] image="14" }}
                     {{> video_preview_6col title=titles.title.[15] image="15" }}
                     {{> video_preview_6col title=titles.title.[16] image="16" }}
                     {{> video_preview_6col title=titles.title.[17] image="17" }}
                     {{> video_preview_6col title=titles.title.[18] image="18" }}
                     {{> video_preview_6col title=titles.title.[19] image="19" }}
                     {{> video_preview_6col title=titles.title.[20] image="20" }}
                     {{> video_preview_6col title=titles.title.[21] image="21" }}
                     {{> video_preview_6col title=titles.title.[22] image="22" }}
                     {{> video_preview_6col title=titles.title.[23] image="23" }}
                     {{> video_preview_6col title=titles.title.[24] image="24" }}
                     {{> video_preview_6col title=titles.title.[25] image="25" }}
                     {{> video_preview_6col title=titles.title.[26] image="01" }}
                     {{> video_preview_6col title=titles.title.[27] image="02" }}
                     {{> video_preview_6col title=titles.title.[28] image="03" }}
                     {{> video_preview_6col title=titles.title.[29] image="04" }}
                     {{> video_preview_6col title=titles.title.[30] image="05" }}
                     {{> video_preview_6col title=titles.title.[31] image="06" }}
                     {{> video_preview_6col title=titles.title.[32] image="07" }}
                     {{> video_preview_6col title=titles.title.[33] image="08" }}
                     {{> video_preview_6col title=titles.title.[34] image="09" }}
                     {{> video_preview_6col title=titles.title.[35] image="10" }}
                     {{> video_preview_6col title=titles.title.[36] image="11" }}
                     {{> video_preview_6col title=titles.title.[37] image="12" }}
                     {{> video_preview_6col title=titles.title.[38] image="13" }}
                     {{> video_preview_6col title=titles.title.[39] image="14" }}
                     {{> video_preview_6col title=titles.title.[40] image="15" }}
                     {{> video_preview_6col title=titles.title.[41] image="16" }}
                     {{> video_preview_6col title=titles.title.[42] image="17" }}
                     {{> video_preview_6col title=titles.title.[43] image="18" }}
                     {{> video_preview_6col title=titles.title.[44] image="19" }}
                     {{> video_preview_6col title=titles.title.[45] image="20" }}
                     {{> video_preview_6col title=titles.title.[46] image="21" }}
                     {{> video_preview_6col title=titles.title.[47] image="22" }}
                     {{> video_preview_6col title=titles.title.[48] image="23" }}
                  </div>
                  {{> pagination }}
               </div>
            </div>
         </div>
      </div>
      <!--/SEARCH RESULTS-->
   {{/content}}
{{/extend}}
