{{#extend "main"}}
   {{#content "body"}}
      <!--CREDITS OTHER-->
      <div class="inner">
         <div class="tabs">
            <div class="container  scrollreveal scrollAnimateFade">
               <ul class="tabs__list">
                  <li class="tabs__item">
                     <a href="./credits.html" class="tabs__link">
                        <span>Photo</span>
                     </a>
                  </li>
                  <li class="tabs__item">
                     <a href="./credits_code.html" class="tabs__link">
                        <span>Code</span>
                     </a>
                  </li>
                  <li class="tabs__item is-active">
                     <a href="./credits_other.html" class="tabs__link">
                        <span>Other</span>
                     </a>
                  </li>
               </ul>
            </div>
         </div>
         <div id="tabs-content">
            <div class="credits">
               <div class="container scrollreveal scrollAnimateFade">
                  <div class="row row--flex">
                     <div class="col-lg-3">
                        <div class="credits-item">
                           <a href="https://github.com/madebybowtie/FlagKit" class="credits-item__link" target="_blank">
                              Flag Kit
                           </a>
                           <div class="credits-item__descr">
                              Beautiful flag icons for usage in apps and on the web
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3">
                        <div class="credits-item">
                           <a href="https://fonts.google.com/specimen/Roboto" class="credits-item__link" target="_blank">
                              Roboto
                           </a>
                           <div class="credits-item__descr">
                              Great font family by Christian Robertson for Google
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3">
                        <div class="credits-item">
                           <a href="http://ionicons.com/" class="credits-item__link" target="_blank">
                              Ionicons
                           </a>
                           <div class="credits-item__descr">
                              The premium icon font for Ionic Framework. 100% free and open source. MIT Licensed
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--/CREDITS OTHER-->
   {{/content}}
{{/extend}}
